---
import BaseLayout from '../../layout/BaseLayout.astro'
import TodoListView from '../../components/todoList/TodoListView'
---

<BaseLayout>
  <div data-testid="todos-page">
    <TodoListView client:only="solid-js" />
  </div>
</BaseLayout>
