---
import BaseLayout from '../../layout/BaseLayout.astro'
import TodoListsView from '../../components/todoList/TodoListsView'
---

<BaseLayout>
  <div data-testid="todo-lists-page">
    <TodoListsView client:only="solid-js" />
  </div>
</BaseLayout>
